html {
    height: 100%;
    width: 100%;
    background-color: #E2DBC9;
  }

  body {
    padding-bottom: 50px;
    }

  h1 {
    font-family: "orpheuspro", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    color: #725A58;
    margin: auto;
  }

  h2 {
    font-family: "omnes-pro", sans-serif;
    font-weight: 800;
    font-size: 200px;
    font-style: italic;
    text-align: center;
    margin: auto;
    color: #E2DBC9;
    -webkit-text-stroke-color: #2E2D2D;
    -webkit-text-stroke-width: 5px;
    text-shadow: 10px 10px 5px #2E2D2D;
}

form {
  max-width: 1000px;
  margin: auto;
  border: 10px solid #2E2D2D;
  border-radius: 30px;
  padding: 3em;
  background-color: #725A58;
  box-shadow: 20px 20px 5px #2E2D2D;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
  margin-bottom: 25px;
}
                
.form-row > label {
  width: 100px;
  color: #E2DBC9;
  font-size: 25px;
}
                
.form-row > input {
  padding: .5em;
  flex-grow: 1;
}

.form-row > select {
  padding: .5em;
  flex-grow: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 283px;
  height: 60px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #707070;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  left: 5px;
  bottom: 5px;
  background-color: #E2DBC9;
  border-radius: 50%;
  transition: 0.5s;
}

input[type="checkbox"]:checked + .slider {
  background-color: #E2DBC9;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(223px);
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

#songlist {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-block-start: 0;
  padding: 0;
}